<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.CartTests"/>
      <class name="tests.CheckoutTest"/>
      <class name="tests.ExtentReport"/>
      <class name="base.BaseTest"/>
      <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
